div {
  .hello {
    display: flex;
    justify-content: center;
    color: blueviolet;
    border: cadetblue;
    border-style: solid;
    padding: 20px;
    margin: 20px;
  }
  
  .hi {
    justify-content: center;
  }

}
