// @import './Variables.scss';

// .login {
//   background-color: $backgroundColor;
//   height: 95vh;
//   display: flex;
  
// }

@import "./Variables.scss";

#login {
  // display: flex;
  background-color: $backgroundColor;
  padding-bottom: 8px;
}

#Right {
  display: flex;
  float: right;
  width: 60%;
}

#Left {
  display: flex;
  float: left;
  width: 40%;
  flex-direction: column;
  justify-content: center;
  margin-top: 130px;
}
