.postDetail {
  border: red solid 5px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  align-content: center;
  flex-wrap: nowrap;
  flex-direction: row;
}  

.detailsTitle {
  margin-top: 8%;
  display: flex;
  justify-content: center;
}