@import "./Variables.scss";

// .signup {
//   display: flex;
//   width: 30%;
// }
// .gradient-custom-3 {
//   /* fallback for old browsers */
//   background: #84fab0;

//   /* Chrome 10-25, Safari 5.1-6 */
//   background: -webkit-linear-gradient(
//     to right,
//     rgba(132, 250, 176, 0.5),
//     rgba(143, 211, 244, 0.5)
//   );

//   /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
//   background: linear-gradient(
//     to right,
//     rgba(132, 250, 176, 0.5),
//     rgba(143, 211, 244, 0.5)
//   );
// }
// .gradient-custom-4 {
//   /* fallback for old browsers */
//   background: #84fab0;

//   /* Chrome 10-25, Safari 5.1-6 */
//   background: -webkit-linear-gradient(
//     to right,
//     rgba(132, 250, 176, 1),
//     rgba(143, 211, 244, 1)
//   );

//   /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
//   background: linear-gradient(
//     to right,
//     rgba(132, 250, 176, 1),
//     rgba(143, 211, 244, 1)
//   );
// }

#box {
  // display: flex;
  background-color: $backgroundColor;
}

#RCard {
  display: flex;
  float: right;
  width: 60%;
}

#LCard {
  display: flex;
  float: left;
  width: 40%;
  flex-direction: column;
  justify-content: center;
  margin-top: 130px;
}
