@import "./Variables.scss";

#box {
  // display: flex;
  background-color: $backgroundColor;
}

#RCard {
  display: flex;
  float: right;
  width: 60%;
}

#LCard {
  display: flex;
  float: left;
  width: 40%;
  flex-direction: column;
  justify-content: center;
  margin-top: 130px;
}
